MONGODB_URI=mongodb+srv://o_examDb:jLnfYNzXXVhBJ7ok@cluster0.9lf33xm.mongodb.net/online_exam?appName=Cluster0


JWT_SECRET=supersecretkeynsrh

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA9sXCzR1UXGnmK3pcHwaOwtVGk2GyzxPI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=linkup-c06de.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=linkup-c06de
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=linkup-c06de.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=975285545248
NEXT_PUBLIC_FIREBASE_APP_ID=1:975285545248:web:0c3cad9efd71a15c064f45
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-G6SBH853MW

# ==== EMAIL CONFIGURATION (Choice 1: Gmail SMTP) ====
# For Gmail: Use host: smtp.gmail.com, port: 465, secure: true.
# You MUST generate an "App Password" in your Google Account Security settings.
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=lmnosib555@gmail.com
EMAIL_PASS=rwyjbyhwpcqyotht
EMAIL_FROM="EXAMINARLY" <lmnosib555@gmail.com>
